.celebres h2 {
    text-align: center;
    font-size: 4.4em;
    text-transform: uppercase;
}

.celebres .container {
    display: flex;
    justify-content: center;
    gap: 6%;
}

.celebres .container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.celebres .container .card img {
    border-radius: 500px;
    height: 171px;
    width: 171px;
    object-fit: cover;
}

.celebres .container .card h5 {
    font-size: 25px;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .celebres .container {
        gap: 5%;
    }
}

@media screen and (max-width: 1200px) {
    .celebres .container {
        gap: 3%;
    }
}

@media screen and (max-width: 1100px) {
    .celebres .container {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px) {
    .celebres h2 {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 530px) {
    .celebres .container .card {
        width: 45%;
        height: 250px;
        margin-top: 20px;
    }
    .celebres .container .card img {
        height: 140px;
        width: 140px;
    }
    .celebres .container .card h5 {
        font-size: 1.4em;
    }
}
