footer {
    background-color: #000;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 150px;
    border-bottom: 5px solid #000;
}

footer .contactBtn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .contactBtn .boutton {
    width: 517px;
    height: 57px;
    background: #FFFFFF;
    border-radius: 66px;
}

footer .contactBtn .boutton h3 {
    color: #000;
}

footer .line {
    left: 50%;
    position: absolute;
    width: 5px;
    height: 111px;
    background-color: #fff;
}

footer .otherLinks a {
    margin-left: 50px;
    color: #FFFFFF;
    text-decoration: none;
}

footer .otherLinks {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px
}

@media screen and (max-width: 1200px) {
    footer {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1100px) {
    footer .contactBtn .boutton {
        width: 450px;
    }
}

@media screen and (max-width: 960px) {
    footer .contactBtn .boutton {
        width: 350px;
    }
}

@media screen and (max-width: 760px) {
    footer .contactBtn .boutton {
        width: 270px;
    }
}

@media screen and (max-width: 710px) {
    footer {
        position: relative;
        bottom: 90px;        
    }
}

@media screen and (max-width: 660px) {
    footer {
        flex-direction: column;
        justify-content: center;
        height: 150px;
        gap: 40px;
    }
    footer .contactBtn {
        width: 100%;
    }
    footer .contactBtn .boutton {
        width: 480px;
        height: 50px;
    }
    footer .line {
        width: 100%;
        left: 0;
        height: 2px;
        margin-top: 17px;
    }
    footer .otherLinks {
        flex-direction: row;
        gap: 100px;
    }
    footer .otherLinks a {
        margin: 0;
    }
}

@media screen and (max-width: 564px) {
    footer .contactBtn .boutton {
        width: 400px;
    }
}

@media screen and (max-width: 440px) {
    footer .contactBtn .boutton {
        width: 350px;
    }
    footer .otherLinks {
        gap: 30px;
    }
}

@media screen and (max-width: 370px) {
    footer .contactBtn .boutton {
        width: 300px;
    }
}

@media screen and (max-width: 340px) {
    footer {
        height: 190px;
    }
    footer .line {
        margin-top: 0;
    }
    footer .otherLinks {
        flex-direction: column;
        gap: 5px;
    }
}
