.resultat .hautPage {
    position: relative;
}

.resultat .hautPage img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: 0;
    animation: apparitionImg 4000ms ease-in-out;
}

@keyframes apparitionImg {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

.resultat .hautPage .overlayResultat {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.resultat .hautPage .overlayResultat .info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.resultat .hautPage .overlayResultat .info img {
    object-fit: contain;
    height: 80%;
    width: 80%;
}

.resultat .hautPage .overlayResultat .info h1 {
    color: white;
    text-transform: uppercase;
    font-size: 7em;
    text-align: center;
    width: 100%;
    text-shadow: #000000 0px 0px 50px;
}

.resultat .hautPage a i {
    color: #fff;
    position: absolute;
    bottom: 40px;
    font-size: 4em;
    cursor: pointer;
}



.resultat .hautPage .overlayResultat .lien {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


*{
    scroll-behavior: smooth;
}


.resultat .basPage .dumbledoreParle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultat .basPage .dumbledoreParle img {
    margin-top: 135px;
}

.resultat .basPage .dumbledoreParle .bulle {
    display: flex;
}


.resultat .basPage .dumbledoreParle .bulle .bubble {
    width: 90%;
    margin-top: 166px;
    margin-bottom: 20px;
    top: 250px;
    background-color: #ccc;
    padding: 20px;
    color: #222;
    border-radius: 3px;
}

.resultat .basPage .dumbledoreParle .bulle .contenu h3 {
    margin: 0 0 10px 0;
    font-size: 25px;
    text-align: justify;
}

.resultat .basPage section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resultat .basPage section h2 {
    text-align: center;
    font-size: 4.4em;
    text-transform: uppercase;
}

.resultat .basPage section img {
    max-height: 400px;
}

.resultat .basPage section p {
    text-align: justify;
    font-size: 23px;
    margin-top: 50px;
    width: 70%;
}

.resultat .basPage .bouttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

@media screen and (max-width: 1231px) and (max-height: 830px) {
    .resultat .basPage .dumbledoreParle .bulle .contenu h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 1480px) {
    .resultat .hautPage .overlayResultat .info h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 1270px) {
    .resultat .hautPage .overlayResultat .info img {
        height: 65%;
        width: 65%;
    }
}

@media screen and (max-width: 1176px) {
    .resultat .hautPage .overlayResultat .info h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 1000px) {
    .resultat .basPage .dumbledoreParle {
        flex-direction: column;
    }
    .resultat .basPage .dumbledoreParle img {
        object-fit: contain;
        height: 35%;
        width: 35%;
        margin-top: 40px;
    }
    .resultat .basPage .dumbledoreParle .bulle {
        justify-content: center;
    }
    .resultat .basPage .dumbledoreParle .bulle .bubble {
        margin-top: 0px;
    }
}

@media screen and (max-width: 970px) {
    .resultat .hautPage .overlayResultat .info {
        flex-direction: column;
    }
    .resultat .hautPage .overlayResultat .info img {
        height: 50%;
        width: 50%;
    }
    .resultat .hautPage .overlayResultat .info h1 {
        font-size: 6em;
        margin-top: 5%;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 848px) {
    .resultat .basPage section h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .resultat .basPage section p {
        margin-top: 20px;
    }
}

@media screen and (max-width: 822px) {
    .resultat .hautPage .overlayResultat .info img {
        height: 60%;
        width: 60%;
    }
}

@media screen and (max-width: 710px) {
    .resultat .hautPage .overlayResultat .info h1 {
        font-size: 5em;
        margin: 0;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 600px) {
    .resultat .hautPage .overlayResultat .info h1 {
        font-size: 4em;
        margin-top: 5%;
    }
    .resultat .basPage .dumbledoreParle img {
        height: 45%;
        width: 45%;
    }
    .resultat .basPage .dumbledoreParle .bulle .bubble {
        width: 80%;
    }
    .resultat .basPage section p {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .resultat .basPage .dumbledoreParle .bulle .bubble h3 {
        font-size: 1.35em;
    }
    .resultat .basPage section h2 {
        font-size: 3.5em;
    }
    .resultat .basPage section p {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .resultat .basPage .dumbledoreParle img {
        display: none;
    }
    .resultat .basPage .dumbledoreParle .bulle .bubble {
        width: 100%;
    }
    .resultat .basPage .dumbledoreParle .bulle .bubble h3 {
        text-align: center;
    }
}