.contact {
    overflow-x: hidden;
}
.contact .container {
    justify-content: center;
    display: flex;
    gap: 10%;
}

.contact .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

@media screen and (max-width: 970px) {
    .contact .card-container {
        gap: 5%;
    }
}

@media screen and (max-width: 970px) {
    .contact .card-container {
        flex-direction: column;
    }
}