.contact {
    padding-top: 106px;
}

.contact .container {
    justify-content: center;
    display: flex;
    gap: 10%;
}

.contact .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}