.propositions-container {
    width: 1200px;
    height: 354px;
    margin-top: 80px;
    margin-left: 10px;
}

.propositions-container .propositions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* grid-template-columns: repeat(2, 364px);
    grid-column-gap: 65px;
    grid-row-gap: 45px; */
}

.propositions-container .propositions .choix {
    background-color: #ccc;
    border-radius: 20px;
    width: 364px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 30px;
    margin-top: 30px;
    font-size: 25px;
}

.propositions-container .propositions .choix:nth-child(3), .propositions-container .propositions .choix:nth-child(4) {
    background-color: #ccc;
    margin-top: -30px;
}

.propositions-container button[type= "submit"] {
    width: 458px;
    height: 76px;
    background-color: #4CBA4A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 66px;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 35px;
    color: #FFFFFF;
    position: absolute;
    right: 110px;
}
